.wrap6666
  position relative
  width: 100%
  font-size .24rem
  .header
    width: 100%
    height: 2.7rem
    font-size .42rem
    background-color: #C1A56B
    display flex
    flex-direction column
    align-items center
    justify-content space-evenly
    color white
    img
      width: 1.4rem
      height: 1.4rem
      border-radius 50%



  .headerP
    display none
    position: absolute
    width: 100%
    height: 13.34rem
    top: 0
    right: 0
    background-color: rgba(0,0,0,.8)
    z-index 999999
    img
      position: absolute
      width: 80%
      top: 3.8rem
      left: 0.75rem


  ul
    li
      float: left;
      width: 33.33333%;
      height: 1.8rem
      border-right: 1px solid rgba(0,0,0,.15);
      border-bottom: 1px solid rgba(0,0,0,.15);
      a
        width: 100%
        height: 100%
        display flex
        flex-direction column
        align-items center
        justify-content:space-evenly

        img
          width: .7rem
          height: .6rem



  .loginout
    position: absolute
    width: 96%
    height: 1rem
    background-color: #b4282d
    top: 10rem
    left: 2%
    text-align: center
    line-height 1rem
    font-size .35rem
    color white
