.wrap1
  width: 100%
  font-size 0.24rem
  overflow hidden
  margin-bottom:1.1rem
  .search
    display flex
    align-items: center;
    background: #fff;
    padding: .16rem .3rem;
    flex-flow: row nowrap;
    position: fixed;
    top: 0
    left: 0
    z-index: 99;
    height: 0.9rem
    line-height 0.9rem
    width: 100%
    box-sizing border-box
    a
      width: 1.38rem;
      height: .4rem;
      background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/indexLogo-11d65342f9.png);
      display: inline-block;
      margin-right: .2rem;
      background-size: cover;
      background-position: center;
    .sreachInput
      font-size 0.28rem
      color rgb(102,102,102)
      display inline-block
      width: 4.42rem
      height: 0.56rem
      background-color: #EDEDED
      border-radius 0.07rem
      text-align center
      line-height 0.56rem
      i
        display: inline-block;
        vertical-align: middle;
        background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/search2-2fb94833aa.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: .28rem;
        height: .28rem;
        margin-right: .1rem;

    .login
      display inline-block
      margin-left:0.16rem
      width: 0.75rem
      height: 0.4rem
      line-height 0.4rem
      text-align center
      color: rgb(180,40,45)
      border-radius 0.07rem
      box-sizing border-box
      border: 0.01rem solid rgba(180,40,45,.5)
  .minWrap
    width: 100%
    margin-top 0.9rem
    > img{
      width: 100%
    }
    .scrollNav
      width: 100%
      height: 0.6rem
      overflow hidden
      padding-left 0.3rem
      position relative
      .BS
        width 6rem
        ul{
          width: 9.9rem
          height: 0.6rem
          li{
            width: 0.9rem
            text-align: center
            line-height: 0.6rem
            float: left
            font-size 0.28rem
            color: rgb(51,51,51)
            height: 0.6rem
            &:first-child{
              box-sizing border-box
              color rgb(180, 40, 45);
              border-bottom 0.03rem solid rgb(180, 40, 45);
            }
          }
        }
      .down{
        width: 1.5rem
        height: 0.6rem
        background-color: white
        z-index 9
        position absolute
        top: 0
        right: 0
        text-align center
        line-height 0.7rem
        span{
          display inline-block
          width: 0.3rem
          height: 0.3rem
          background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/arrow-down-3-a6045aadfd.png);
          background-size cover
          transform rotateZ(0deg)
          transition .8s
        }
      }

    .swiper-container
      width: 100%
      height: 3.7rem
      .swiper-wrapper
        width: 100%
        height: 100%
        img
          width: 100%
          height: 100%
    .msg
      width: 100%
      height: 0.72rem
      background-color: #FFEDDB
      .msgUl{
        display flex
        justify-content space-around
        li{
          line-height:0.72rem
          display flex
          align-items center
          color rgb(180, 40, 45)
          i{
            width: 0.32rem
            height: 0.32rem
            display inline-block
            background-image url(http://yanxuan.nosdn.127.net/cae45612b8aae577d8bd73338e2fc02c.png)
            background-size cover
          }
        }
      }
    .shopList{
      width: 100%
      height: 3.9rem
      background-color: #FFEDDB
      ul{
        display flex
        flex-wrap wrap
        justify-content space-around
        li{
          width: 1.5rem
          height: 1.95rem
          a{
            width: 1.5rem
            height: 1.95rem
            display flex
            justify-content space-evenly
            align-items center
            flex-direction column
            color rgb(51,51,51)
            img{
              width: 1.1rem
              height: 1.1rem
            }
          }

        }
      }
    }

    .photoList{
      margin-top: -0.1rem
      width: 100%
      height: 6.15rem
      background-color: rgb(180, 40, 45)
      .up{
        height: 4rem
        width: 100%
        img{
          float: left
        }
      }
      .down{
        width: 100%
        height: 2rem
        img{
          float: left
        }
      }
    }
    .newPerson{
      width: 100%
      height:5.3rem
      .newGift{
        font-size 0.32rem
        color rgb(51,51,51)
        width: 100%
        height: 0.9rem
        text-align: center
        line-height:0.9rem
      }
      .left{
        width: 3.43rem
        height: 4.34rem
        background-color: rgb(249, 233, 207)
        float: left
        margin-left:0.33rem
        position: relative
        box-sizing border-box
        padding 0.3rem
        font-size 0.32rem
        color rgb(51,51,51)
        .gif{
          position: absolute
          z-index 7
          width: 0.3rem
          height: 0.2rem
          top: 2.915rem
          right: 1.05rem
        }
        .lingqu{
          position: absolute
          left: 0
          right: 0
          top: 0
          bottom: 0
          margin auto
          width: 2.28rem
          height: 2.28rem
        }
      }
      .right{
        width: 3.43rem
        height: 4.34rem
        background-color: rgb(249, 233, 207)
        float: left
        box-sizing border-box
        border-left 0.04rem solid white
        > .up{
          width: 100%
          height: 2.15rem
          border-bottom 0.04rem solid white
          box-sizing border-box
          padding 0.3rem 0 0 0.3rem
          position: relative
          .youhui{
            position: absolute
            z-index 10
            width: 0.8rem
            height: 0.8rem
            background-color: rgb(245, 149, 36)
            border-radius 50%
            top: .2rem
            right: .2rem
            text-align center
            box-sizing border-box
            padding-top 0.2rem
            color white
            font-size 0.24rem

            .down{
              text-decoration-line: line-through
            }
          }
          img{
            position: absolute
            right: 0
            top: 0.08rem
            width: 2rem
            height: 2rem
            box-sizing border-box
          }
        }
        > .down{
          width: 100%
          height: 2.15rem
          box-sizing border-box
          padding 0.3rem 0 0 0.3rem
          position: relative
          .youhui{
            position: absolute
            z-index 10
            width: 0.8rem
            height: 0.8rem
            background-color: rgb(245, 149, 36)
            border-radius 50%
            top: .2rem
            right: .2rem
            text-align center
            box-sizing border-box
            padding-top 0.2rem
            color white
            font-size 0.24rem

            .down{
              text-decoration-line: line-through
            }
          }
          img{
            position: absolute
            right: 0
            top: 0.08rem
            width: 2rem
            height: 2rem
            box-sizing border-box
          }
        }
      }
    }

    > a{
      display block
      width: 0.8rem
      height: 0.8rem
      text-align: center
      line-height 0.8rem
      border-radius 50%
      background-color: whitesmoke
      position: fixed
      z-index 999
      right: 0.25rem
      bottom: 1.25rem
      i{
        font-size 0.3rem
      }
    }

    .shopPro{
      width: 100%
      height: 6.6rem
      > .up{
        box-sizing border-box
        padding 0 .3rem 0 .3rem
        width: 100%
        height: 1rem
        display flex
        justify-content space-between
        align-items center
        font-size 0.32rem
        color rgb(51,51,51)
      }
      > .down{
        width: 100%
        height: 5.6rem
        box-sizing border-box
        padding 0 .3rem 0 .3rem
        display flex
        align-items center
        justify-content space-around
        flex-wrap wrap
        div{
          box-sizing border-box
          text-align: center
          padding-top:0.3rem
          font-size 0.28rem
          color rgb(51, 51, 51)
        }
        .one{
          width: 3.4rem
          height: 2.6rem
          background-image url(http://yanxuan.nosdn.127.net/802ff06dd3ef161db046eeb8db6cb4be.jpg?imageView&thumbnail=343y260&enlarge=1)
          background-size cover
        }
        .two{
          width: 3.4rem
          height: 2.6rem
          background-image url(http://yanxuan.nosdn.127.net/c1e97be1b9730360c9c228b6a6448bca.png?imageView&thumbnail=343y260&enlarge=1)
          background-size cover
        }
        .three{
          width: 3.4rem
          height: 2.6rem
          background-image url(http://yanxuan.nosdn.127.net/e550a44d2a7a68ed38e6cfd380e514aa.png?imageView&thumbnail=343y260&enlarge=1)
          background-size cover
        }
        .four{
          width: 3.4rem
          height: 2.6rem
          background-image url(http://yanxuan.nosdn.127.net/053ecfefd033a9acd2cb95483e14fcb6.jpg?imageView&thumbnail=343y260&enlarge=1)
          background-size cover
        }
      }
    }

    .scrollShop{
      width: 100%
      height: 3.88rem
      padding 0.3rem .3rem .3rem .3rem
      box-sizing border-box
      > .BS2{
        width: 6.9rem
        ul{
          width: 19.8rem
          height: 3.88rem
          li{
            width: 2rem
            margin-right: 0.2rem
            float: left
            text-align: center
            color rgb(51, 51, 51)
            background-color: rgb(244, 244, 244)
            &:last-child{
              text-align: center
              line-height 2rem
              height: 2rem
              font-size 0.32rem
            }
            img{
              width: 2rem
              height: 2rem
            }
            span{
              display inline-block
              width: 1.32rem
              height: 0.25rem
              background-color: orange
            }
          }
        }
      }
    }
    .footer{
      width: 100%
      height: 2.45rem
      background-color: rgb(51, 51, 51)
      color white
      text-align: center
      padding .54rem .2rem .28rem .2rem
      box-sizing border-box
      p{
        color rgb(153, 153, 153)
      }
      span{
        &:nth-child(1){
          display inline-block
          width: 1.71rem
          height: .62rem
          border: 0.005rem solid white
          line-height .62rem
          margin-right:.25rem
        }
        &:nth-child(2){
          display inline-block
          width: 1.71rem
          height: .62rem
          border: 0.005rem solid white
          line-height .62rem
          margin-left:.25rem
          margin-bottom:.36rem
        }
      }
    }

    .mask{
      width: 100%
      height: 100%
      position: absolute
      top: 0.9rem
      z-index 999999
      .content{
        width: 100%
        height: 3.72rem
        background-color: white
        .minHeader{
          width: 100%
          height: 0.6rem
          margin-bottom:0.24rem
          font-size .34rem
          line-height .6rem
          padding-left:.3rem
          padding-right:.6rem
          display flex
          justify-content space-between
          align-items center
          i{
            display inline-block
            width: 0.3rem
            height: 0.3rem
            background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/arrow-down-3-a6045aadfd.png);
            background-size cover
            transform rotateZ(180deg)
            transition transform .8s
          }
        }
        ul{
          width: 100%
          height: calc(100%-.6rem)
          padding-left:.3rem
          padding-right:.3rem
          display flex
          flex-wrap wrap
          justify-content space-between
          li{
            width: 1.5rem
            height: .56rem
            border: 0.01rem solid gray
            text-align: center
            margin-bottom:.4rem
            line-height .56rem
          }

        }
      }

      .cover{
        width: 100%
        height: 9rem
        background-color: rgba(0,0,0,.8)
      }
    }
