.wrap{
  font-size 0.32rem
  width: 100%
  .top{
    width: 100%
    padding 0 .16rem 0 .2rem
    height: .88rem
    line-height .88rem
    box-sizing border-box
    span{
      &:nth-child(1){
        vertical-align: middle;
        display: inline-block
        width: 0.48rem
        height: .44rem
        background-image url("./img/logo.png")
        background-size: 1.72rem 4.2rem
        background-position-y -4.95rem
      }
      &:nth-child(2){
        vertical-align: middle;
        display: inline-block
        width: 1.71rem
        height: .55rem
        background-image url("./img/logo.png")
        background-size: 1.72rem 4.2rem
        background-position-y -9.65rem
        margin-left:2rem
      }
      &:nth-child(3){
        vertical-align: middle;
        display: inline-block
        width: 0.48rem
        height: .44rem
        background-image url("./img/logo.png")
        background-size: 1.72rem 4.2rem
        background-position -0.1rem -7.83rem
        margin-left:1.45rem
      }
      &:nth-child(4){
        vertical-align: middle;
        display: inline-block
        width: 0.64rem
        height: .64rem
        background-image url("./img/logo.png")
        background-size: 1.72rem 4.2rem
      }
    }
  }
  img{
    width: 100%
  }
}
